<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Edit User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{|/css/bootstrap.min.css|}" />
    <script th:src="@{|/js/jquery.js|}"></script>
    <script th:src="@{|/js/bootstrap.min.js|}"></script>
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<h3>Editing User <span th:text="${user.username}"></span></h3>
		<div th:include="users/form :: userform(@{|/users/${user.id}|})"></div>
    </div>
</body>
</html>

